.main-2-div {
    background-color: rgb(145, 239, 145);
    border: 2.5px;
    height: 100%;
    border-color: black;
    border-style: solid;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
}

.h1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}